<div class="container">
  <h2>Profile Page</h2>

  <p>Username: <%= @user.username %></p>
  <p><%= link_to "Edit Account", edit_user_registration_path() %></p>
  <p><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></p>
</div>
