<div class="jumbotron title">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('white-text-logo.png', size: "400x400",  alt:'logo', id:'logo') %>
    </div>
    <div class="col-md-6">
      <h2>About</h2>
      <p>Meal Thyme is an app to help you plan your meals in advance. A collection of delicious recipes are available for users to browse through and add to their schedule. The site can be viewed on mobile devices or you can print out your scheduled meals and post them to your fridge to keep you on track.</p>
      <div class="well">
        <h2>Created By:</h2>
        <p>Nicole Santamaria</p>
        <%= link_to image_tag('github.png', size: "50x50",  alt:'github', id:'github'), 'https://github.com/nrsantamaria', target: :_blank %>
        <%= link_to image_tag('linkedin.png', size: "50x50",  alt:'linkedin', id:'linkedin'), 'https://www.linkedin.com/in/nicolersantamaria/', target: :_blank %>
        <%= link_to image_tag('twitter.png', size: "50x50",  alt:'twitter', id:'twitter'), 'https://twitter.com/nicky_s808', target: :_blank %>
      </div>
    </div>
  </div>
</div>
