<div class="jumbotron title">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('textlogo.png', size: "400x400",  alt:'logo', id:'logo') %>
    </div>
    <div class="col-md-6">
      <h3>About</h3>
      <p>Meal Thyme is the best meal planner app in the universe.</p>
    </div>
  </div>
</div>
