<div class="jumbotron title">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('white-text-logo.png', size: "400x400",  alt:'logo', id:'logo') %>
    </div>
    <div class="col-md-6">
      <h2>FAQs</h2>
      <div class="well">
        <a href="#start">Getting Started</a> | <a href="#meal">Adding Meals</a> | <a href="#schedule">Viewing Schedule</a> | <a href="#questions">Questions</a>
      </div>
      <ul>
        <h3 id="start">How do I get started?</h3>
        <li>Make sure to click the sign up link on the home page to create an account. Once you have an account you will have access to the recipes and be able to get started adding meals to your schedule.</li>
      </ul>
      <ul>
        <h3 id="meal">How do I add a recipe to my schedule?</h3>
        <li>Once you have logged in and are at your profile page click the Recipes tab. Scroll through the recipes and when you find one that sounds delicious click the drop down to add it to your preferred day and meal type.</li>
      </ul>
      <ul>
        <h3 id="schedule">How do I view my schedule?</h3>
        <li>Once you have logged in and are at your profile page click the View Meal Plan tab. You will be taken to your schedule where you can see the different calendar views. Click the print button to print out the schedules as you see them on the screen.</li>
      </ul>
      <ul>
        <h3 id="questions">I have a question not answered above, how do I contact you?</h3>
        <li>Feel free to visit our <a href="/contacts/new">Contact</a> page to send an email to us.</li>
      </ul>
    </div>
  </div>
</div>
