<div class="row">  
  <span id="print-btn" class="btn btn-default"><%= link_to 'Print', meals_path, :onclick => 'window.print();return false;'%></span>
</div>
<%= month_calendar events: @meals do |date, meals| %>
  <%= date %>

  <% meals.each do |meal| %>
    <div>
      <%= link_to meal.category, recipe_path(meal.recipe_id) %>
    </div>
  <% end %>
<% end %>
