@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-green: rgb(169,218,169);
$med-green: rgb(123,188,155);
$dark-green: rgb(62,134,133);
$light-gray: rgb(242, 242, 242);

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.title {
  padding-left: 0;
  padding-right: 0;
}

#logo {
  display: block;
  margin: 0 auto;
}

body {
  font-family: 'Zilla Slab', serif;
}

.container {
  margin-top: 5%;
}

.navbar-default {
  background-color: $light-gray;
  // height: 70px;
  .navbar-brand {
    color: $med-green;
  }
}

.body {
  margin-bottom: 10%;
}

a {
  color: $med-green;
}

#print-btn {
  float: right;
}

.hidden {
  display: none;
}

.jumbotron {
  background-color: $light-gray;
}

// calendar
.calendar-heading, thead tr th {
  text-align: center;
}
thead tr th {
  background-color: $light-green;
}
.table-bordered tbody tr {
  height: 200px;
}

.table-bordered td {
  width: 140px;
}

.cal-item {
  max-width: 95%;
  margin: 1%;
}
.cal-item img {
  float: left;
}

.remove {
  color: red;
}

#profile-page {
  margin-top: 2%;
}
