@import 'bootstrap-sprockets';
@import 'bootstrap';

.title {
  margin-top: 5%;
  // background-color: #A4EDE1;
}

#logo {
  display: block;
  margin: 0 auto;
}

.sign-in, .log-in {
  padding-right: 5%;
}

body {
  font-family: 'Zilla Slab', serif;
}
