<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
<hr>
<div class="footer">
  <%= image_tag('https://git.heroku.com/meal-thyme.git
/textlogo.png', size: "200x200",  alt:'logo', id:'logo') %>
</div>
